:root {
    --heigth-navbar: 5vh;
    font-size: 16px;
}

.root-container {
    grid-template-rows: 1fr auto 1fr;
}

.loading {
    position: fixed;
    bottom: 50%;
    top: 50%;
    font-size: 50px;
}

div.hamburger-container {
    display: none;
    background: #FFF;
}

div.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #2B68BD;
    align-items: center;
    color: #FFF;
    padding: 5px 0 5px 0;
}

@media screen and (max-width:500px) {
    .navbar-container {
        z-index: 100;
        min-height: var(--heigth-navbar);
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #000;
    }
    div.hamburger-container {
        display: block;
        background: #FFF;
    }
}

img.hamburger {
    width: 40px;
    height: 40px;
    margin: 5px;
    /* filter: invert(100%); */
}

.navbar-container>span {
    font-family: 'Itim', cursive;
    margin: 5px;
}

/* login */

.login-container {
    position: fixed;
    background: #FFF;
    z-index: 2;
    width: 40vw;
    top: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.login-form {
    align-self: center;
    grid-column: 2/11;
    grid-row: 2/11;
    display: flex;
    flex-direction: column;
}

.login-container>button {
    grid-column: 1/13;
    grid-row: 1/2;
    cursor: pointer;
}

.login-container>button>img {
    height: 5vw;
    width: 5vw;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .login-container {
        height: calc(90vh);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    .login-form {
        align-self: center;
        grid-column: 2/12;
        grid-row: 2/12;
        display: flex;
        flex-direction: column;
    }
}

.login-form>input, button {
    margin: 5px;
}

.index-container {
    min-height: calc(70vh);
    display: flex;
    flex-direction: column;
}

.index-background {
    width: 100vw;
    height: 50vh;
    z-index: 0;
}

@media screen and (max-width:500px) {
    .index-background {
        width: 100vw;
        height: 30vh;
        grid-column: span 12;
        grid-row: span 2;
        z-index: 0;
    }
}

.floor-select-container {
    justify-self: center;
    align-self: center;
    grid-row: span 1;
    grid-column: span 12;
    display: flex;
    flex-direction: row;
}

.floor-select-block {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: blue;
    border: 3px solid white;
    color: white;
    justify-self: center;
    text-align: center;
}

/* Reserve */

.reserve-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    min-height: 100vw;
}

.building-container {
    display: grid;
    grid-row: 3/9;
    grid-column: 3/9;
    grid-template-areas: "left left sleft sleft . . ." "left left sleft sleft . . ." "left left . . . . ." "left left . . . sright sright" "left left . . . sright sright" "center center right right right right right" "center center right right right right right";
}

.left {
    cursor: pointer;
    grid-area: left;
    background: olive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    cursor: pointer;
    grid-area: right;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    cursor: pointer;
    grid-area: center;
    background: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sleft {
    cursor: pointer;
    grid-area: sleft;
    background: olive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sright {
    cursor: pointer;
    grid-area: sright;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus-floor {
    /* display: none; */
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5)
}

/* modal */

.modal-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: rgba(93, 186, 219, 1);
    position: fixed;
    bottom: 2.5%;
    left: 10%;
    z-index: 100;
    min-width: 80vw;
    height: 90vh;
    padding: 15px;
    color: #FFF;
}

.room-container {
    color: #FFF;
}

.even-room {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

.odd-room {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

.odd-room-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.even-room-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.student1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: #3bafd9;
    width: 100%;
    height: 100%;
    /* border: 3px solid rgba(93, 186, 219, 1); */
    border-radius: 10px;
}

.space {
    flex: 1;
    text-align: center;
}

.person {
    height: 2vw;
    width: 2vw;
    filter: invert(100%);
}

.person:hover {
    height: 2vw;
    width: 2vw;
    filter: invert(36%) sepia(60%) saturate(5593%) hue-rotate(182deg) brightness(92%) contrast(90%);
}

.student2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3bafd9;
    width: 100%;
    height: 100%;
    /* border: 3px solid rgba(93, 186, 219, 1); */
    border-radius: 10px;
}

#close {
    cursor: pointer;
    position: fixed;
    left: 50%;
    width: 5vw;
    height: 5vw;
    background: white;
    border: 2px solid black;
    z-index: 101;
}

@media only screen and (max-width:800px) {
    .modal-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background: rgba(93, 186, 219, 1);
        position: fixed;
        bottom: 5%;
        left: 10%;
        z-index: 100;
        min-width: 80vw;
        height: 90vh;
        padding: 15px;
        color: #FFF;
    }
    .room-container {
        color: #FFF;
    }
    .even-room {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .odd-room {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .odd-room-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }
    .even-room-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }
    .student1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        background: #3bafd9;
        width: 100%;
        height: 100%;
        /* border: 3px solid rgba(93, 186, 219, 1); */
        border-radius: 10px;
    }
    .space {
        flex: 1;
        text-align: center;
    }
    .person {
        height: 4vw;
        width: 4vw;
        filter: invert(100%);
    }
    .person:hover {
        height: 4vw;
        width: 4vw;
        filter: invert(36%) sepia(60%) saturate(5593%) hue-rotate(182deg) brightness(92%) contrast(90%);
    }
    .student2 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3bafd9;
        width: 100%;
        height: 100%;
        /* border: 3px solid rgba(93, 186, 219, 1); */
        border-radius: 10px;
    }
    #close {
        cursor: pointer;
        position: fixed;
        left: 50%;
        width: 10vw;
        height: 10vw;
        background: white;
        border: 2px solid black;
        z-index: 101;
    }
}

.profile-container {
    min-height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
}

.profile-form {
    grid-column: 2/4;
}

.profile-container>div>div {
    display: flex;
    flex-direction: column;
}

.footer-container {
    z-index: -1;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #237CDB;
}